.header {
    height: 150px;
}

.container {
    height: 600px;
}

#game-area {
    text-align: center;
    height: 600px;
    position: relative;
    background-color: YellowGreen;
}

#game-area>div {
    margin: 20px;
    text-align: center;
    font-size: 12px;
    max-width: 100px;
    background-color: Orange;
}

div {
    margin-top: 10px;
}

.right { 
    float: right;
    right: 0;
}

.left { 
    float: left;
}

.draggable {
    position: absolute;
}

.draggable img{
    display:block;
    margin:auto;
    max-height: 70px;
    max-width: 100px;
    border-radius: 10px;
}

.dropzone, .matched {
    background-color: #ccc;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.title {
    border-radius: 2px;
    margin: 10px auto 30px;
    padding: 3px;
}

.dropzone {
    outline: 0px;
}

.drop-active {
    outline: dashed 4px #aaa;
}

.drop-target {
    transition: background-color 0.3s;
    background-color: #29e;
    outline: 4px solid blue;
}


.drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;

    color: #fff;
    background-color: #29e;
    outline: solid 2px #fff;

    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
}

.drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
}

.matched {
    outline: 4px solid green;
    border-radius: 0px;
}

.dragged-in {
}

.dropped-into {
    outline: 5px solid red;
}

